---
const {
imagePath,
imagePaths,
alt="",
side="left",
fillWidth="false",
width,
height
} = Astro.props;

import { Image } from 'astro:assets';

const images = import.meta.glob<{ default: ImageMetadata }>("/src/projects/*/*.{jpeg,jpg,png,gif}");

const imageCount = imagePaths ? imagePaths.length : 1;
---

<span
    data-side={side}
    data-fillWidth={fillWidth}
    data-multiImages={imageCount>1}
    style={`--img-width: ${width}px; --img-scaling: ${width*0.1}%;`}
>
    {imagePath && (
        <Image
            src={images["/src/projects/"+imagePath]()} 
            alt={alt}
            width={width}
        />
    )}
    {imagePaths && (
    imagePaths.map((imagePath) =>
        <Image
            src={images["/src/projects/"+imagePath]()} 
            alt={alt}
            height={height}
        />
    )
    )}
</span>

<style>
    span
    {
        display: block;
        margin-top:15px;
        gap: 30px;
        width: clamp(10px, var(--img-scaling, 50%), var(--img-width, auto));
    }

    span[data-fillWidth="true"]
    {
        width: 100%;
    }
    span[data-side="left"]
    {
        float: left;
        margin-right: 20px;
    }

    span[data-side="right"]
    {
        float: right;
        margin-left: 20px;
    }

    img
    {
        border-radius: 20px;
        height: auto;
        object-fit: contain;
        width: 100%;
    }

    span[data-multiImages="true"]
    {

    }
    span[data-multiImages="true"] img
    {
        width: auto;
    }
</style>
